body {
    background-color:green;
}
.card {
    display:flex;
    background:white;
    margin:auto;
    width:200px;
    height: 300px;
    padding: 0px;
    border-radius:10px
}

.heart{
    display:block;
    width:200px;
    height:300px;
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
    line-height: 300px;
}

.heart:before{
    display:block;
    float:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2665";
    color:red;
    line-height:35px
}

.heart:after{
    display:block;
    float:right;
    text-align:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2665";
    color:red;
    line-height:565px
}

.diamond{
    display:block;
    width:200px;
    height:300px;
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
    line-height: 300px;

}
.diamond:before{
    display:block;
    float:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2666";
    color:red;
    line-height:35px
    }
.diamond:after{
    display:block;
    float:right;
    text-align:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2666";
    color:red;
    line-height:565px
    }

.spade{
    display:block;
    width:200px;
    height:300px;
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
    line-height: 300px;
}
.spade:before{
    display:block;
    float:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2660";
    color:black;
    line-height:35px
    }
.spade:after{
    display:block;
    float:right;
    text-align:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2660";
    color:black;
    line-height:565px}

.club{
    display:block;
    width:200px;
    height:300px;
    font-size: 100px;
    text-align:center;
    vertical-align:middle;
    line-height: 300px;
}
.club:before{
    display:block;
    float:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2663";
    color:black;
    line-height:35px
    }
.club:after{
    display:block;
    float:right;
    text-align:left;
    width:25px;
    height:300px;
    font-size:35px;
    content:"\2663";
    color:black;
    line-height:565px}